@import "./my-theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.container{
    background-color: $primary;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    
   
    .card{
        
        background-color: $primary;
        align-items: center;
    }

    img{
        
        height: 300px;
        width: 300px;
        
    }
    
    .card-title{
        color: $secundary;
        font-size: 40px;
        
    }
    .card-text{
        color: $light;
        font-size: 30px;
    }
    a{
        @extend .card-text;
        background-color: $secundary;
        
    }
    
}